<div class="geolocation">
    <div id="geolocationWeather">
        <% if(city !=null) { %>
            <div class="geolocWeather__card">
                <p>
                    <b class="med-text">
                        <%- city.name %>
                    </b>
                    </br>
                    <%- city.weather[0].main %>,
                        <%- city.weather[0].description %>
                            </br>temperatura: <%- city.main.temp %> °C, percepita: <%- city.main.feels_like %> °C
                                    </br>vento: <%- city.wind.speed %> m/s, umidità: <%- city.main.humidity %>%
                                            </br><img class="imgGeo" src="<%- " https://openweathermap.org/img/w/" +
                                                city.weather[0].icon + ".png" %>" alt="" width="25px" height="25px">
                </p>
            </div>
        <% } else { %>
                Impossibile geolocalizzare.
        <% } %>
    </div>
</div>
</div>